    <div class="card mx-auto " style="width: 15rem;">
    <%= image_tag image_url , alt: alt_text , class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <p class="card-text"><%= description %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
