    <div class="card mx-auto tilt " style="width: 15rem;">
    <%= image_tag image_url , alt: alt_text , class: "card-img-top" %>
      <div class="card-body d-flex flex-column align-items-center ">
        <h5 class="card-title "><%= title %></h5>
        <p class="card-text text-center hidden" ><%= description %></p>
        <a class="btn btn-primary show">Go somewhere</a>
      </div>
    </div>
