    <div class="card mx-auto tilt " style="width: 15rem;">
    <%= image_tag image_url , alt: alt_text , class: "card-img-top" %>
      <div class="card-body d-flex flex-column align-items-center ">
        <h5 class="card-title "><%= title %></h5>
        <p class="card-text text-center" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque asperiores quasi quam a distinctio. Non odio porro ipsa voluptatibus fuga eligendi numquam. Sed cupidito ducimus, fugit ullitia quae commodi facilis dolores? Aperiam aut quod, nesciunt soluta dignissimos officia cum? Autem, placeat, quis odio doloremque quae necessitatibus quasi obcaecati saepe minima rem totam repellendus!</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
