<nav class="navbar navbar-expand-lg shadow border bg-dark mb-5 mt-lg-4 py-xs-3 py-sm-3 py-lg-2 mx-auto custom-navbar" data-bs-theme="dark">
  <div class="container px-lg-5">
    <h1 class="navbar-brand" >Paolo's<span> Dev</span><span> Portfolio</span></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav container d-flex justify-content-around">
       <%= link_to "About", root_path, class: "nav-link #{'active' if current_page?(root_path)}"  %>
       <%= link_to "Contact", contact_path, class: "nav-link #{'active' if current_page?(contact_path)}" %>
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>