<section class="container bg-light card">
<h1 class="fw-bold" >Some of my work</h1>

<div class="container" >
    <p class="fw-semibold">
        As my portfolio demonstrates, I possess a range of valuable skills. However, I remain committed to ongoing learning and refinement.
         Any input or suggestions on areas for improvement would be greatly appreciated.
    </p>
    <p class="fw-semibold" > 
        Como lo demuestra mi portafolio tengo un serie de valiosas habilidades. Sin embargo me mantengo aprendiendo constantemente y saliendo de mi zona de
        confort, cualquier sugerencia para mejorar será bienvenida y agradecida.
    </p>

</div>


<div>
<h2>My Github Profile</h2>
<div class="project-miniature" ></div>
</div>
<div>

<h2>Vercel Hosted Projects</h2>
<div class="project-miniature" ></div>
</div>

<div>
<h2>Render Hosted projects</h2>
<div class="project-miniature" ></div>

</div>



</section>