<section class="container shadow card" data-bs-theme="dark" >
<h1 class="p-1 fw-bold" >Some of my work</h1>

<div class="container p-4" >
    <p class="fw-semibold">
        As my portfolio demonstrates, I possess a range of valuable skills. However, I remain committed to ongoing learning and refinement.
         Any input or suggestions on areas for improvement would be greatly appreciated.
    </p>
    <p class="fw-semibold" > 
        Como lo demuestra mi portafolio tengo un serie de valiosas habilidades. Sin embargo me mantengo aprendiendo constantemente y saliendo de mi zona de
        confort, cualquier sugerencia para mejorar será bienvenida y agradecida.
    </p>

</div>


<div>
<h2>Github Pages Hosted Projects</h2>
<div class="project-miniature" >
    <ul>
        <li><a href="https://el-paolo.github.io/ViajesChile/" class="link-project">Viajes Chile</a><p>Front End template for a travel agencie, built with JS vainilla, css and html</p> </li>
    </ul>
    <ul>
        <li><a href="https://github.com/El-paolo/Portfolio" class="link-project">My Portfolio</a><p>The code of this portfolio is available to read and watch.</p> </li>
    </ul>
</div>
</div>
<div>

<h2>Vercel Hosted Projects</h2>
<div class="project-miniature" >
<ul>
    <li><a href="https://recipe-api-xi.vercel.app/" class="link-project" ><span>React Recipe Project(API)</span></a><p>A Test for Front-End app and API managment with React. </p></li>

</ul>
</div>
</div>


</section>