<section class="container">
<h1>Some of my work</h1>


<div>
<h2>Javascript based game</h2>
<div class="project-miniature" ></div>
</div>

<div>
<h2>Recipe API managment with React</h2>
<div class="project-miniature" ></div>

</div>

<div>
<h2></h2>
<div class="project-miniature" ></div>

</div>

<div>
<h2></h2>
<div class="project-miniature" ></div>

</div>


</section>