
<div class="container rounded bg-dark py-5 contact "  >
  <div class="d-flex flex-column justify-content-center" >
  <h1 class="text-center" >Contact Me</h1>
  <p class="mx-auto fw-semibold" >My email is paolocordovacontacto@gmail.com, and the links to my socials are in the navbar, feel free to contact me for info about fees and my work</p>
  <p class="mx-auto fw-semibold" >Mi correo electrónico es paolocordovacontacto@gmail.com y los links a mis redes estan en la barra de navegación, sientete libre de contactarme para saber más sobre mi trabajo y tarifas.</p>
  </div>
  <h3 class="text-center" style="color:white;" >Get My CV to your email!</h3>

  <%= form_with url: send_cv_path, method: :post do |form| %>
  <div class="mb-3" >
  <%= form.email_field :email, placeholder: "email@example.com", required:true ,class:"form-control", type:"email" %>
  </div>
  <div class="d-flex justify-content-center row" >
  <%= form.submit "Get CV", class:"btn btn-success col-6 py-2" %>
  </div>
<% end %>

</div>
