@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&display=swap');

:root{
    --bs-body-font-family: 'Gabarito', 'Helvetica Neue', sans-serif;
}
html, body {
    height: 100%;  /* Asegurarse de que html y body ocupen toda la altura */
    margin: 0;  /* Eliminar márgenes predeterminados */
    background: #C02425;  /* fallback para navegadores antiguos */
    background: -webkit-linear-gradient(to top, #C02425,  #F0CB35);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,#C02425,#F0CB35);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;  /* Fijar el fondo */
    background-size: 100% 100%;  /* Hacer que el fondo ocupe todo el espacio */
  }
  


