@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&display=swap');

:root{
    --bs-body-font-family: 'Gabarito', 'Helvetica Neue', sans-serif;
    --dark: #212121;
}
//gradient color background
html, body {
  background: rgb(148,222,233);
  background: -moz-linear-gradient(90deg, rgba(148,222,233,1) 0%, rgba(33,119,91,0.8813726174063375) 50%, rgba(216,252,69,0.46680679107580536) 100%);
  background: -webkit-linear-gradient(90deg, rgba(148,222,233,1) 0%, rgba(33,119,91,0.8813726174063375) 50%, rgba(216,252,69,0.46680679107580536) 100%);
  background: linear-gradient(90deg, rgba(148,222,233,1) 0%, rgba(33,119,91,0.8813726174063375) 50%, rgba(216,252,69,0.46680679107580536) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#94dee9",endColorstr="#d8fc45",GradientType=1); 
  }
  

//Custom Navbar
.custom-navbar{
  width: 80%;
  border-radius: 2em;
      @include media-breakpoint-down(lg) {
          border-radius: 0;
          width: 100%;
          
      }
     
}

// tilt hover effect
.tilt{
  transition: all 0.1s ease;
  cursor: pointer;
}

//tags

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

//icons for the navbar socials
.icon{
  width: 20px;
  height: 20px;
  padding: 2px;
}

//contact container
.contact{
  color: white;
}
//linkedIn svg social
.linkedinsvg{
  
  width: 20px;
  height: 20px;
  padding: 0 2px 2px 2px ;
  margin: 0 0 2px 0;

}
//keywords

.keywords{
  color:#04e9e9
}
