@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&display=swap');

:root{
    --bs-body-font-family: 'Gabarito', 'Helvetica Neue', sans-serif;
    --dark: #212121;
}
html, body {
    height: 100%;  /* Asegurarse de que html y body ocupen toda la altura */
    margin: 0;  /* Eliminar márgenes predeterminados */
    background: rgb(1,57,27);
    background: -moz-radial-gradient(circle, rgba(1,57,27,1) 1%, rgba(233,214,148,0.9037815809917717) 67%);
    background: -webkit-radial-gradient(circle, rgba(1,57,27,1) 1%, rgba(233,214,148,0.9037815809917717) 67%);
    background: radial-gradient(circle, rgba(1,57,27,1) 1%, rgba(233,214,148,0.9037815809917717) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01391b",endColorstr="#e9d694",GradientType=1); 
    background-attachment: fixed;  /* Fijar el fondo */
    background-size: 100% 100%;  /* Hacer que el fondo ocupe todo el espacio */
  }


// Backgorund for small devices
.bg-dark-md{
  @include media-breakpoint-up(md) {
    background-color: #212121;
    
}
}
  
//   colors:
//   Erie Black #212121
//   Jonquil #F0CB35
//   fire engine red #C02425
//   electric Blue #75EDFF
//   Giants orange #FF5D30

//Custom Navbar
.custom-navbar{
  width: 80%;
  border-radius: 2em;
      @include media-breakpoint-down(lg) {
          border-radius: 0;
          width: 100%;
          
      }
     
}

// tilt hover effect
.tilt{
  transition: all 0.1s ease;
  cursor: pointer;
}

//lists
ul{
  list-style-type: none;
}
