@import "bootstrap";

.custom-navbar{
    width: 80%;
    border-radius: 2em;
        @include media-breakpoint-down(lg) {
            border-radius: 0;
            width: 100%;
            
        }
       
}